 .cuadro-precio{
     position: fixed;
     left: 700px;
     top: 150px;
 }

 .cuadro-detall{
     position: absolute;
     left: 0px;
 }

 .border-gris{
     border: solid 1px gray;
     
 }

// //media queries

// @media(max-width:1024px){
//     .cuadro-precio{
//         position: relative;
//         left: auto;
//         top: auto;
        

//     }
    
// }